/* Hide the tab bar! */
#TabsToolbar { visibility: collapse; }

:root {
  --sidebar-min-width: 3em;
  --sidebar-visible-width: 12em;
}

#sidebar-box, #sidebar{
  position: relative !important;
  min-width: var(--sidebar-min-width) !important;
  max-width: var(--sidebar-min-width) !important;
  transition: .1s ease .3s;
  z-index: 1;
}

#sidebar-box:hover #sidebar {
  min-width: var(--sidebar-visible-width) !important;
  max-width: var(--sidebar-visible-width) !important;
  transition: .1s ease .2s;
}

#sidebar-header { display: none; }
#sidebar-splitter { display: none; }
#webextpanels-window { background: transparent !important }
