@import				 "config.rasi"


window {
location:                    center;
anchor:                      center;
fullscreen:                  true;
width:                       80%;
height:			     80%;
}

listview {
enabled:                     true;
columns:                     14;
lines:                       20;
}
