*{
    border: 0px;
    font-family:ComicCodeLigatures Medium;
    font-size: 30px;

}
#window {
    margin: 0px;
    background-color: #000000;
    border-radius: 30px;
    border: 2px solid #f5c2e7;
    background: rgba(00, 00, 00, 0.2);
}

#input {
    margin: 5px;
    border: 2px solid #f9e2af;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 40px;
    background: rgba(00, 00, 00, 0.2);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #000000;
    border-radius: 30px;
    background: rgba(00, 00, 00, 0.2);
    
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #000000;
    background: rgba(00, 00, 00, 0.2);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
} 

#text:selected {
	background-color: inherit;
	color: #161322;
	font-weight: normal;
}

#entry:selected  {
    background-color: #1A73E8;
    background: linear-gradient(90deg, #cba6f7 0%, #94e2d5 100%);
    background: linear-gradient(90deg, rgba(201,203,255,1) 28%, rgba(245,224,220,1) 85%, rgba(242,205,205,1) 100%);
    background: linear-gradient(90deg, #89b4fa 28%, #fff0f5 85%, #ffe4e1 100%);
    border-radius: 20px;
    outline: none;
}
