@import				 "config.rasi"
window {
fullscreen:                  true;
width:                       80%;
height:			     80%;
}
listview {
columns:                     14;
lines:                       20;
}
