@import				 "config.rasi"


window {
location:                    center;
anchor:                      center;
fullscreen:                  false;
width:                       85%;
height:			     80%;
}

listview {
enabled:                     true;
columns:                     1;
lines:                       22;
}
